<?xml version="1.0" encoding="utf-8"?>
<manifest package="sk.vander.cmind"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/label_splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ContentActivity"
            android:label="@string/label_content"
            android:windowSoftInputMode="adjustNothing"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="sk.vander"
                    android:path="/content"
                    android:scheme="app"/>
            </intent-filter>

        </activity>
    </application>

</manifest>